Planting-Tools.Rproj
.Rproj.user
*.Rproj
.Rhistory
*.RData
*.rds
.Ruserdata
**/baseline_species_prob_40*
**/scenario_species_prob_40*
**/climate_cells.csv
ShinyForestry/appMod.r
ShinyForestry/appMod2_after_fusion.r
*log*
*lock*
*task_id*
*.feather
**/SEER/
**/ElicitorOutput/FullTable*
**/ElicitorOutput/land_parcels.shp/
**/ElicitorOutput/Parcels.geojson
**/JulesOP
**/CalculatedFiles/
**/DownScalingImages/
*.gif
*.mov
*.avi
*.wmv
*.mp3
*.mp4
*.mkv
**/CalculatedFiles
**/ElicitorOutput/old*
**/ElicitorOutput/saved new ex
